#header
  text-shadow 0 0 1px #fff
  width: auto
  margin 0px auto 20px
  padding 20px
  background #33353A
  color #999

  a    
    color #fff
    &:hover
      color lighten(color-link,50%)
      text-decoration none

  h1
    font-weight normal
    font-size 5em
    line-height 1
    text-shadow 0 0 10px lighten(color-link,50%)

  h2
    font-weight normal
    font-size 0.9em
    line-height 1
    margin-top 10px
  
  #main-nav
    font-family font-title
    // line-height 2.5em
    font-size 1.3em
    height: auto
    ul
      list-style none
      li
        float left
        margin 0px 15px